name: speech_to_text
description: A Flutter plugin that exposes device specific speech to text recognition capability.
version: 6.4.1
homepage: https://github.com/csdcorp/speech_to_text

environment:
  sdk: ">=3.0.0 <4.0.0"
  flutter: ">=3.10.0"

dependencies:
  flutter:
    sdk: flutter
  speech_to_text_platform_interface: ^2.1.0
  speech_to_text_macos: ^1.0.2
  json_annotation: ^4.0.0
  clock: ^1.0.1
  pedantic: ^1.9.2
  flutter_web_plugins:
    sdk: flutter
  meta: ^1.1.7
  js: ^0.6.3

dev_dependencies:
  flutter_test:
    sdk: flutter
  build_runner: ^2.4.4
  json_serializable: ^6.7.0
  fake_async: ^1.3.1
  mockito: ^5.4.1
  plugin_platform_interface: ^2.1.4
  flutter_lints: ^3.0.0

flutter:
  plugin:
    platforms:
      android:
        package: com.csdcorp.speech_to_text
        pluginClass: SpeechToTextPlugin
      ios:
        pluginClass: SpeechToTextPlugin
      web:
        pluginClass: SpeechToTextPlugin
        fileName: speech_to_text_web.dart
      macos:
        default_package: speech_to_text_macos
